<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="MMBLogin.MMBLoginTC"/>
      <class name="MMBChangeFlight.ChangeDateSelection"/>
      <class name="MMBChangeFlight.FlightSelection"/>
      <class name="MMBChangeFlight.ChangeFlightAddonSelection"/>
      <class name="MMBChangeFlight.ChangeFlightItinerary"/>
       <class name="MMBChangeFlight.ChangeFlightEndTX"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
